body {
  margin: 10px;
}

span.clear {
  display: block;
  clear: both;
}

.left {
  float: left;
  width: 45%;
}

.right {
  float: right;
  width: 45%;
}

.mainframe {
  margin: 20px 0;
}

h1.title {
  width: 479px;
  height: 156px;
  background: url(drivetimelogo.png) no-repeat;
}

h1.title span {
  display: none;
}