body {
  margin: 10px;
}

span.clear {
  display: block;
  clear: both;
}

.left {
  float: left;
  width: 45%;
}

.right {
  float: right;
  width: 45%;
}

.mainframe {
  margin: 20px 0;
}

table {
  width: 100%;
  margin: 20px 0;
}

tr:nth-child(2n + 1) td {
  background: #444;
}

tr td:nth-child(4) {
  text-align: right;
}

tr td, tr th {
  padding: 2px 5px;
}

h1.title {
  width: 479px;
  height: 156px;
  background: url(drivetimelogo.png) no-repeat;
}

h1.title span {
  display: none;
}